*.tsbuildinfo
elm-stuff
.DS_Store
.direnv/
.env
.env.development.local
.env.local
.env.production.local
.env.test.local
.ultra.cache.json
build/
coverage/
dist/
generated/
node_modules/
tmp/
yarn-error.log

scratch.*
